<% if (post.link){ %>
  <h1 itemprop="name" class="uk-article-title">
    <a class="<%= class_name %> uk-link-reset" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 itemprop="name" class="uk-article-title">
      <a class="<%= class_name %> uk-link-reset" href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h1>
  <% } else { %>
    <h1 class="<%= class_name %> uk-article-title" itemprop="name">
      <%= post.title %>
    </h1>
  <% } %>
<% } %>