<header class="container site-header">
  <div class="outer">
    <div class="row">
      <nav class="site-nav">
          <a href="<%- url_for() %>" class="header-logo"><img src="<%- url_for('images/dojo2-logo-white.svg') %>" alt="<%= config.title %>"></a>
          <% for (var i in theme.menu){ %>
            <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          <% } %>
          <% if(theme.github){%>
            <a class="main-nav-link" href="<%- theme.github %>"><img src="<%- url_for('images/logos/github-white.svg') %>" alt="Dojo on Github" class="nav-icon github"></a>
          <% } %>
      </nav>
    </div>
  </div>
</header>