<section class="section">
	<div class="container article">


		<%
			var recipeRegex = /cookbook/;
			var categoryRegex = /cookbook\/(.*?)\//;

			var recipes = _.filter(site.pages.data, function (page) {
				return recipeRegex.test(page.path) && page.path !== 'cookbook/index.html';
			});
			var categories = {};
			recipes.forEach(function (recipe) {
				var match = categoryRegex.exec(recipe.path);
				if (match) {
					var categoryName = match[1];
					if (!categories[categoryName]) {
						categories[categoryName] = [];
					}
					categories[categoryName].push(recipe);
				}
			});

		%>

		<nav class="breadcrumb is-small hidden" aria-label="breadcrumbs">
			<ul>
				<li><a href="/cookbook">Cookbook</a></li>
				<li><a href="/cookbook#<%- page.category.toLowerCase() -%>"><%- page.category.replace(/\-/g, ' ') -%></a></li>
				<li class="is-active"><a href="#"><%- page.title %></a></li>
			</ul>
		</nav>
		<h1><%- page.title %></h1>
		<%- page.content %>
		<hr />
	
		<% 

		for (var idx in categories) {
			var categoryName = idx
			if(categoryName == page.category){
				%>
					<h2 class="is-size-3">Other recipes for <%- categoryName.toLowerCase().replace(/\-/g, ' ') -%></h2>

					<div class="columns is-mobile is-multiline">

					<%
						_.each(categories[idx], function(recipe) {
							// remove index.html from the path to make relative URLs work consistently
							var urlRaw = recipe.path.substr(0, recipe.path.length - 10 /* length of 'index.html' */);

							if(recipe.title != page.title){
					%>
					<div class="column is-12-mobile is-6-tablet is-4-desktop is-4-widescreen">
						<div class="card is-full-height">
							<a href="<%- url_for(recipe.path) %>">
								<div class="card-content">
									<h4 class="is-size-6">
										<%- recipe.title %>
									</h4>
									<div class="content is-size-7"><%- recipe.overview %></div>
								</div>
							</a>
						</div>
					</div>
				<%
							}
				 });

			}
		}

		%>
		</div>
		<a href="/cookbook" class="button is-primary begin-button">See all recipes</a>
	
	</div>
</section>


