<%- partial('_partial/docs-nav') %>
<%- partial('_partial/table-of-contents', { src: "start" }) %>
<%- partial('_partial/table-of-contents', { src: "tutorials" }) %>
<%- partial('_partial/table-of-contents', { src: "guides" }) %>
<%- partial('_partial/table-of-contents', { src: "api" }) %>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-9 article">
				<%- page.content %>
			</div>
		</div>
	</div>
</section>
<script src="/js/dependencies.js"></script>
<script src="/js/doc_viewer.js"></script>
