<div class="bodyContainer">
	<%- partial('_partial/landingPage/hero') %>
	<%- partial('_partial/landingPage/upAndRunning') %>
	<%- partial('_partial/landingPage/embracingPlatform') %>
	<%- partial('_partial/landingPage/meta') %>
	<%- partial('_partial/landingPage/accessibility') %>
	<%- partial('_partial/landingPage/features') %>
	<%- partial('_partial/landingPage/links') %>
</div>
