<div class="bodyContainer">
	<%- partial('_partial/landingPage/hero') %>
	<%- partial('_partial/landingPage/upAndRunning') %>
	<%- partial('_partial/landingPage/embracingPlatform') %>
	<%- partial('_partial/landingPage/meta') %>
	<%- partial('_partial/landingPage/accessibility') %>
	<%- partial('_partial/landingPage/features') %>
</div>
<div id="mobile-sidebar" class="sidebar-left" uk-offcanvas>
	<div class="uk-offcanvas-bar">
		<%- partial('_partial/main-nav') %>
	</div>
</div>
