<div class="bodyContainer">
	<!-- <%- partial('_partial/landingPage/hero') %> -->
	<%- partial('_partial/landingPage/upAndRunning') %>
	<!-- <%- partial('_partial/landingPage/createCustomComponents') %> -->
	<!--<%- partial('_partial/landingPage/intersectionObservers') %> -->
	<!--<%- partial('_partial/landingPage/accessibility') %> -->
	<!--<%- partial('_partial/landingPage/features') %> -->
	<!--<%- partial('_partial/landingPage/links') %> -->
</div>
