<div class="uk-section uk-section-default">
	<div class="uk-container uk-container-default uk-position-relative">
		
			<h2 class="uk-margin-large">Getting Started</h2>
			<div class="uk-grid uk-grid-match uk-margin-large" uk-grid>
				<%
					var tuts = _.filter(site.pages.data, ['layout', 'tutorial']);
					tuts = _.orderBy(tuts, ['path']);

					_.each(tuts, function(tut, idx) {
						// remove index.html from the path to make relative URLs work consistently
						var urlRaw = tut.path.substr(0, tut.path.length - 10 /* length of 'index.html' */);
						if(idx == 7) {
				%>
			</div>
			<hr>
			<h2 class="uk-margin-large">Advanced</h2>
			<div class="uk-grid uk-grid-match" uk-grid>
			<%
					}
			%>
					<div class="tutorial-card uk-width-1-3@l uk-width-1-2@s" data-path="<%- urlRaw %>" data-topic="<%- tut.topic %>">
						<div class="uk-card sp-card">
							<div class="uk-card-header uk-padding-large uk-flex-center uk-flex uk-flex-middle">
								<span class="fa-4x fas fa-<%- tut.icon %>"></span>
							</div>
							<div class="uk-card-body">
								<h1 class="uk-card-title"><a href="<%- url_for(urlRaw) %>" class="uk-link uk-link-reset"><%- tut.title %></a></h1>
								<p class="uk-text-small"><%- tut.overview %></p>
							</div>
						</div>
					</div>
			<%
				});
			%>
		</div>
	</div>
</section>
<div id="mobile-sidebar" class="sidebar-left" uk-offcanvas>
	<div class="uk-offcanvas-bar">
		<div>
			<%- partial('_partial/main-nav') %>
			<hr>
			<%- partial('_partial/tutorials-nav') %>
		</div>
	</div>
</div>
